@import url('https://fonts.googleapis.com/css2?family=Jaro:opsz@6..72&display=swap');

@font-face {
  font-family: 'mario';
  src: url('../font/mario.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #5c94fc;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.game-board {
    width: 60%;
    height: 500px;
    border-bottom: 15px solid green;
    margin: 100px;
    position: relative;
    overflow: hidden;
    background: linear-gradient(lightblue, white);
}

#contador {
    z-index: 1;
    position: absolute;
    top: 20px;
    right: 20px;
    font-size: 30px;
    color: white;
    font-family: 'mario', sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
      text-shadow:
    -1px -1px 0 black,
     1px -1px 0 black,
    -1px  1px 0 black,
     3px  3px 0 black;
}

.pipe {
    position: absolute;
    bottom: 0;
    width: 80px;
    animation: pipe-animation 1.5s infinite linear;
}

.mario{
    width: 150px;
    position: absolute;
    bottom: 0;
}

.jump {
    animation: jump 500ms ease-out;
}

.clouds {
    position: absolute;
    width: 550px;
    animation: clouds-animation 20s infinite linear;
}

.game-over{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    display: none;
}

h1{
    font-size: 30px;
    color: white;
    font-family: 'mario', sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

button{
    width: 100px;
    height: 40px;
    font-size: 16px;
    font-optical-sizing: auto;
    font-family: 'mario', sans-serif;
    
    font-style: normal;
    border-radius: 20px;
    background-color: red;
    color: white;
    border: transparent;
    cursor: pointer;
}

@keyframes pipe-animation{
    from {
        right: -80px;
    }

    to{
        right: 100%;
    }

}

@keyframes clouds-animation {
    from{
        right: -550px;
    }

    to{
        right: 100%;
    }
}

@keyframes jump {

    0% {
        bottom: 0;
    }

    40% {
        bottom: 180px;
    }

    50% {
        bottom: 180px;
    }

    60% {
        bottom: 180px;
    }

    100% {
        bottom: 0;
    }
}
